:root {
  --background: #ffffff;
  --foreground: #171717;
  --navbar-height: 3rem;
  --font-principal: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-principal);
  line-height: 1.6;
}