:root {
  --background: #e4e4e4;
  --dark-grey: #222222;
  --mid-grey: #363636;
  --cancel-grey: #737373;
  --grey: #8d8d8d;
  --clear-grey: #c1c1c1;
  --light-grey: #f6f6f6;
  --bars-grey: #efefef;
  --app-yellow: #ffd900;
  --app-yellow-focus: #ffdd1a;
  --app-red: #9d0000;
  --foreground: #e8e8e8;

  --font-principal: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  overscroll-behavior-y: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-principal);
  line-height: 1.6;
}
